* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/*  for mobile */
@media screen and (min-width: 400px) and (max-width: 568px) {
  .navbar {
    flex-direction: column;
    margin-top: 50px;
  }
  .menu {
    line-height: 40px;
    margin-left: -20px;
  }
  .menu ul li a:hover {
    color: #ff42a5;
  }
  .list-item {
    flex-direction: column;
    margin-top: 20px;
  }
  .list-item button {
    margin-top: 20px;
    margin-right: 20px;
  }
  /* banner style here */
  .banner {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 80%;
    height: 100%;
  }
  .gammer-box {
    padding: 0px 0px 0px 10px;
  }
  .gammer-content p {
    font-size: 12px;
  }
  .banner-box .btn-1 {
    padding: 6px 15px;
  }
  .banner-box .btn-2 {
    padding: 6px 15px;
  }
  .icon p {
    font-size: 10px;
  }
  .banner-content h4 {
    font-size: 20px;
    margin-top: 20px;
  }
  .banner-content h1 {
    font-size: 30px;
  }

  .banner-box .icon i {
    margin-bottom: 0px;
  }
  .banner-box button {
    margin-top: 20px;
  }
  /* gammer style start */
  .gammer {
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    height: 400px;
  }
  .gammer-content h4 {
    font-size: 20px;
  }
  .gammer-img img {
    margin-top: 10px;
    height: 90%;
    width: 90%;
  }
  .gammer-box {
    width: 80%;
  }
  .title {
    text-align: center;
    margin-top: 100px;
  }
  .title span {
    font-size: 20px;
  }
  .title h1 {
    font-size: 20px;
  }
  .title p {
    font-size: 12px;
  }
  .gammer-content {
    text-align: center;
  }
  .gammer-img {
    width: 80%;
    height: 100%;
  }

  /* gammer style end */
  /* fanny video */

  .fanny-videos {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 10px;
  }
  .card p {
    font-size: 12px;
  }

  /* play start */
  .play {
    flex-direction: column-reverse;
  }
  .play-content h4 {
    font-size: 20px;
  }
  .play-box {
    padding: 0px;
    width: 80%;
    text-align: center;
  }
  .play-content .para {
    margin: 20px 0px;
    font-size: 12px;
  }
  /* careers style   */
  .container {
    width: 100%;
    padding: 0px;
  }
  .careers {
    flex-direction: column;
  }
  .careers-box {
    width: 100%;
    padding: 20px;
  }
  .careers-img {
    width: 80%;
  }

  /* feature style here */
  .feature {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 10px;
  }
  .game-feature img {
    height: 30px;
    width: 30px;
  }
  .game-feature h2 {
    font-size: 10px;
    margin-left: 5px;
  }
  .game-feature:hover {
    border: 2px solid #f948b2;
  }
  .footer-box {
    padding: 40px;
    margin-top: 60px;
  }
}
